<section class="about-us-hero" id="about">
  <div class="about-us-image">
    <img src="./img/aboutus/Log.webp"
    width="545"
    height="300"
    alt="Зображення людей">
  </div>
 <div class="about-us-content">

    <p class="about-us-description">

       Привіт!  <br> Я – Маріна, чарівниця кульок і майстриня незабутніх свят.
       З палітрою яскравих кольорів та безмежною фантазією я створюю унікальні композиції
       з повітряних кульок, які перетворюють дитячі дні народження на справжні казкові пригоди.
       За роки досвіду в декоруванні я допомогла сотням батьків наповнити свята радістю,<br> сміхом та магією.
       Бажаєш опанувати секрети створення власних шедеврів?
      Запрошую на моє навчання і разом ми додамо чарівництва у твоє життя!🎈</p>

    </div>
</section>

