<section class="about-us-hero" id="about">
  <div class="about-us-image">
    <img src="./img/aboutus/peoplemy.webp"
    width="545"
    height="300"
    alt="Зображення людей">
  </div>
  <div class="about-us-content">

    <p class="about-us-description">
     Маріна.<br>Творча майстриня, яка спеціалізується на створенні унікальних композицій з кульок для дитячих днів народження.<br>
                Мої роботи наповнені кольорами, фантазією та радістю.<br>
                З багаторічним досвідом у декоруванні свят, я допомагаю батькам перетворювати звичайні дні народження на справжні казки.<br>
                Заходь на навчання й тебе навчу! А що саме?<br>
    </p>
  </div>


</section>

