<section class="support-seniors" id="pensioners">
  <div class="container pensioners-aid">
    <article class="pensioners-content">

      <div class="support-category-photos">
        <img
          class="support-photo-wide"
          src="../img/pensioners/orh.webp"
          alt="Допомога людям поважного віку"
          width="400"
          height="600"
        />
        <div class="support-seniors-content">
          <ul class="support-seniors-benefits">
            <li>квіти</li>
            <li>незабутній</li>
            <li>подарунок</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>