<section class="creative-person" id="creativePerson">
  <div class="container creative-person-container">
    <h2 class="creative-person-title section-title">Wow-композиції з кульок</h2>
  </div>
  <div class="creative-person-gallery">
    <article class="person-item">
      <div class="person-item-image-wrapper">
        <img
          class="person-item-image"
          src="./img/childrenhelp/marri.webp"
          width="400"
          height="600"
          alt="Фото творчої людини"
          loading="lazy"
        />
      </div>
    </article>

  </div>
</section>