<section class="contacts-section" id="contacts">
  <div class="contacts-inner">

    <div class="contacts-content">
      <h2 class="contacts-heading">
        Дізнайся подробиці навчання
      </h2>

      <p class="contacts-subtitle">
        Приєднуйся та отримай практичні знання,<br>
        які покращать твою майстерність
      </p>

      <a
        href="https://t.me/contact tell"
        target="_blank"
        class="contacts-btn"
        rel="noopener"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 240 240">
          <circle cx="120" cy="120" r="120" fill="#37AEE2"/>
          <path d="M48 120l144-48-24 96-48-36-24 36-48-48z" fill="white"/>
        </svg>
        <span>Приєднатись у Telegram</span>
      </a>

      <!-- Соцмережі -->
      <div class="contacts-socials">

        <a href="https://www.facebook.com/share/17ysZBA3uD/" target="_blank" aria-label="Facebook">Facebook</a>
      </div>
</div>
    <div class="contacts-decor">
      <img src="../img/aboutus/Log.webp" alt="Decor icon">
    </div>



  </div>
</section>



