<section class="military" id="military-family-aid">
  <div class="container military-family-aid">
    <article class="military-family-aid">
      <h2 class="military-family-aid-title">Композиції до дня народження</h2>

      <div class="military-family-aid-photos">
        <img src="./img/military/ten.webp" alt="Фото 1" class="military-photo-wide" id="mainPhoto" />
        <div class="military-hover-photos">
          <img src="./img/military/seven.webp" class="military-hover-photo" />
          <img src="./img/military/one.webp" class="military-hover-photo" />
          <img src="./img/military/five.webp" class="military-hover-photo" />
          <img src="./img/military/onee.webp" class="military-hover-photo" />
          <img src="./img/military/three.webp" class="military-hover-photo" />
          <img src="./img/military/eleven.webp" class="military-hover-photo" />
          <img src="./img/military/kozak.webp" class="military-hover-photo" />
      


        </div>
      </div>
    </article>
  </div>
</section>

