<section class="faq-section section" id="faq">
  <div class="container">
    <h2 class="title-faq">FAQ</h2>
    <ul class="accordion-container vertical-line">

      <li class="ac item-one">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Про що цей онлайн-курс?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Це практичний онлайн-курс, де ви навчитеся створювати стильні та
            емоційні композиції за допомогою штучного інтелекту — від ідеї до
            готового візуалу.
          </p>
        </div>
      </li>

      <li class="ac item-two">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Чи потрібен досвід у дизайні або роботі з ШІ?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ні, курс підходить для початківців. Ми крок за кроком покажемо, як
            працювати з AI-інструментами, формувати запити (prompts) і
            отримувати якісний результат навіть без дизайнерського досвіду.
          </p>
        </div>
      </li>

      <li class="ac item-three">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Які навички я отримаю після навчання?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Ви навчитеся створювати унікальні композиції за допомогою ШІ,
            працювати з кольорами та стилями, адаптувати візуал під різні
            платформи й формувати власний креативний стиль.
          </p>
        </div>
      </li>

      <li class="ac item-four">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            У якому форматі проходить навчання?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Навчання проходить онлайн у зручному форматі: відеоуроки, практичні
            завдання та приклади реальних композицій. Ви можете навчатися у
            власному темпі та повертатися до матеріалів у будь-який час.
          </p>
        </div>
      </li>

      <li class="ac item-five">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Для кого підійде цей курс?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Курс ідеально підійде для творчих людей, дизайнерів і всіх, хто хоче створювати сучасні композиції
            за допомогою ШІ.
          </p>
        </div>
      </li>

      <li class="ac item-six">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger btn-text-faq">
            Чи зможу я застосовувати ці знання на практиці та заробляти?
            <svg class="arrow arrow-down" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-down"></use>
            </svg>
            <svg class="arrow arrow-up" width="24" height="16">
              <use href="./img/sprite.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Так. Ви зможете використовувати створені композиції для власних
            проектів, соціальних мереж, роботи з клієнтами або комерційних
            замовлень, використовуючи сучасні AI-інструменти.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
