<section class="support-categories" id="training-legal-aid">
  <div class="container training-legal-aid">
    <article class="training-content">
      <h2 class="support-categories-title section-title">
        Новий рівень balloon-дизайну
      </h2>
      <div class="support-category-photos">
        <img
          class="support-photo-wide"
          src="./img/training/roses.webp"
          alt="Навчання та юридична допомога"
          width="400"
          height="600"
        />
        <div class="support-training-content">
          <ul class="support-training-benefits">
            <li>швидко</li>
            <li>красиво</li>
            <li>сучасно</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>