/* Основні стилі для секції про нас */
.about-us-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #D7BDE2, #753572);
  gap: 30px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 5px solid #280234b0; /* Легка тінь для розділення */
}

/* Додання фонових зображень або візерунків */
.about-us-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  z-index: -1; /* Поміщає фон за контентом */
  opacity: 0.1; /* Зменшення прозорості */
}

/* Стилі для контенту секції */
.about-us-content {
  max-width: 100%; /* Збільшена максимальна ширина */
  padding: 30px;
  background: rgba(164, 179, 191, 0.436); /* Прозорий фон для контенту */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Додаткові тіні */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-us-content:hover {
  transform: translateY(-10px); /* Підняття елемента при наведенні */
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2); /* Підсилення тіні при наведенні */
}

/* Стилі для опису */
.about-us-description {
  font-size: 1.25rem; /* Збільшення розміру шрифту */
  line-height: 1.8; /* Збільшення висоти рядка */
  color: #444; /* Темніший колір тексту */
  background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%); /* Градієнтний фон */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.about-us-description:hover {
  background: linear-gradient(135deg, #f0f0f0 0%, #e0e0e0 100%); /* Зміна фону при наведенні */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Зміна тіні при наведенні */
}

/* Стилі для зображення */
.about-us-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-us-image img:hover {
  transform: scale(1.05); /* Збільшення зображення при наведенні */
}

/* Адаптивність для мобільних пристроїв */
@media screen and (max-width: 768px) {
  .about-us-hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 10px;
  }

  .about-us-content {
    max-width: 100%; /* Збільшена максимальна ширина */
  }

  .about-us-description {
    font-size: 1.125rem; /* Зменшення розміру шрифту на мобільних пристроях */
  }
}

/* Адаптивні стилі для великих екранів */
@media screen and (min-width: 1024px) {
  .about-us-hero {
    padding: 60px 40px;
    flex-direction: row;
    text-align: left;
  }

  .about-us-content {
    max-width: 45%;
  }

  .about-us-description {
    font-size: 1.25rem;
  }
}
