
@keyframes colorChange {
  0%, 100% {
    color: #594a65; /* Темно-фіолетовий */
  }
  50% {
    color: #808080; /* Сірий */
  }
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-30px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes borderAnimation {
  0% {
    border-width: 0;
    border-color: transparent;
  }
  50% {
    border-width: 3px;
    border-color: #90509d; /* Колір рамки */
  }
  100% {
    border-width: 0;
    border-color: transparent;
  }
}

/* Базові стилі */
.support-seniors {
  background: linear-gradient(135deg, #530b72, #753572, transparent);
  padding: 40px 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(144, 164, 174, 0.15);
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.support-seniors::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-radius: 15px;
  z-index: 0;
  transition: border-color 0.3s ease;
  animation: borderAnimation 3s infinite;
}

.support-seniors:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.support-seniors::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(95, 90, 90, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
  z-index: 0;
  transition: transform 1s ease;
  backdrop-filter: blur(8px);
}

.support-seniors-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  background: linear-gradient(135deg, #594a65, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInDown 1s ease, colorChange 5s ease-in-out infinite;
  -webkit-font-smoothing: antialiased;
}

.support-category-photos {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto; /* Центрування для великих екранів */
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

.support-photo-wide {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  border-radius: 15px;
  object-fit: cover;
  display: block;
}

.support-category-photos:hover .support-photo-wide {
  filter: brightness(1.1);
  transform: scale(1.05);
}

.support-seniors-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.support-category-photos:hover .support-seniors-content {
  opacity: 1;
  transform: translateY(0);
}

.support-seniors-benefits {
  background: rgba(239, 238, 238, 0.9);
  border-radius: 10px;
  padding: 20px;
  list-style: none;
  text-align: left;
  margin: 0;
  color: #000;

}

.support-seniors-benefits li {
  margin-bottom: 10px;
  padding-left: 35px;
  position: relative;
  font-size: 20px;
}

.support-seniors-benefits li::before {
  content: '\2713';
  position: absolute;
  left: 0;
  color: #594a65;
  font-size: 30px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
}

/* Адаптивні стилі */
@media screen and (max-width: 768px) {
  .support-seniors {
    padding: 20px 10px;
    margin-bottom: 10px;
  }

  .support-seniors-title {
    font-size: 2.25rem;
  }

  .support-seniors-benefits {
    padding: 20px;
  }

  .support-category-photos {
    margin: 0 auto;
    padding: 20px 0; /* Відступи для планшетної версії */
  }
}

@media screen and (max-width: 1024px) {
  .support-seniors {
    padding: 30px 15px;
  }

  .support-seniors-title {
    font-size: 2.5rem;
  }

  .support-seniors-benefits {
    padding: 25px;
  }

  .support-category-photos {
    margin: 0 auto; /* Центрування для планшетної версії */
  }
}

@media screen and (min-width: 1440px) {
  .support-seniors {
    padding: 40px 30px;
  }

  .support-seniors-title {
    font-size: 3rem;
  }

  .support-seniors-benefits {
    padding: 30px;
  }
  .support-category-photos {
    max-width: 800px;
  }
}